<header class="group" id="header">
<a [routerLink]="[ user.id + '/trips']" id="logo"><img id="logoimg" src="../../assets/images/travlr.svg" alt="Travlr Logo"></a>
    <div class="search">
        <span class="lnr lnr-magnifier iconsearch centerContent"></span>
        <input class="search_input" placeholder="Search motherfucker" />
    </div>
    <nav class="group" id="navigation" role="navigation">
        <ul>
            <li *ngIf="auth.loggedIn()"><a class="current" [routerLink]="[ user.id + '/trips']" ><img src="{{user.profile_image_thumb}}"
                alt="profilepicture" class="profilepic">
                <span>Profile</span></a></li>
            <li *ngIf="auth.loggedIn()">
                <a  href="#">Discover</a>
            </li>
            <li *ngIf="auth.loggedIn()">
                <a href="#">Friends activity</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>
