<header class="group" id="header">
<a href="#" id="logo"><img id="logoimg" src="../../assets/images/travlr.svg" alt="Travlr Logo"></a>
    <div class="search">
        <span class="lnr lnr-magnifier iconsearch"></span>
        <input class="search_input" placeholder="Search motherfucker" />
    </div>
    <nav class="group" id="navigation" role="navigation">
        <ul>
            <li><a class="current" href="#"><img src="https://scontent.fbru1-1.fna.fbcdn.net/v/t1.0-1/p160x160/15442123_10210391059066242_4397606732235540896_n.jpg?oh=4a072354b3a7fc67fe835e261493c63d&oe=5A772917"
                alt="profilepicture" class="profilepic">
                <span>Nick</span></a></li>
            <li>
                <a  href="/trips/1">Discover</a>
            </li>
            <li>
                <a href="#">Friends activity</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>
