@import "../color";
#header{
  background:$headercolor;
  #logo{
    display:block;
    float:left;
    #logoimg{
      vertical-align: top;
      height:32px;
      padding:11px;
    }
  }
  .search{
    position: relative;
 width:210px;
    height:32px;
    display:block;
    float:left;
    margin-top:12px;
    margin-left:8px;
    .iconsearch{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40px;
      pointer-events: none;
      z-index: 1;
      color: $focuscolor;
      font-size: 20px;
      display: -moz-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;

    }
    .search_input{
      display: block;
      height: 28px;
      line-height: 20px;
      background: 0 0;
      border: 1px solid $placeholder;
      border-radius: 4px;
      color: #fff;
      padding-left: 40px;
      &:focus{
        border:1px solid $focuscolor;
      }
    }
  }
  #navigation{
    float:right;
    ul{
      li{

        display:inline-block;
        line-height:53px;
        font-size:14px;
        a{
          padding:0px 12px;
          display:inline-block;
          color:$focuscolor;
          border-bottom:3px solid $headercolor;
          &.current{
            border-bottom:3px solid $secondairy !important;
          }
          &:hover{
            background:lighten($headercolor, 5%);
            border-bottom:3px solid lighten($headercolor, 5%);
          }
        }
        .profilepic{
          margin-right:8px;
          vertical-align: middle;
          width:32px;
          border-radius: 50%;
        }


      }
    }
  }
}