<header class="group" id="header">
<a [routerLink]="[ user.id + '/trips']" id="logo"><img id="logoimg" src="./assets/images/travlr.svg" alt="Travlr Logo"></a>
    <div *ngIf="checkAuth()" class="search">
        <span class="lnr lnr-magnifier iconsearch centerContent"></span>
        <input  #search class="search_input" (focus)="focusSearch()" placeholder="Search for a friend..."  [ngModel]="searchvalue" (ngModelChange)="searchUser($event)"/>
    </div>
    <nav class="group" id="navigation" role="navigation">
        <ul>
            <li *ngIf="checkAuth()"><a class="current" [routerLink]="[ user.id + '/trips']" ><img src="{{user.profile_image_thumb}}"
                alt="profilepicture" class="profilepic">
                <span>Profile</span></a></li>
            <li *ngIf="checkAuth()">
                <a  href="#">Discover</a>
            </li>
            <li *ngIf="checkAuth()">
                <a href="#">Friends activity</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>
<div #suggestions>
    <div *ngIf="searchvalue" class="suggestions">
    <div class="card-listContainer">
        <ul class="card-list">
            <li class="card-list-item" *ngIf="!users">
                <div class="user centerContent">
                    No users found!
                </div>
            </li>
            <li *ngFor="let user of users" class="card-list-item">
                <a (click)="redirect(user)" >
                    <div class="user centerContent">
                        <div class="profileImg">
                            <img _ngcontent-c2="" alt="profilepicture" class="profilepic" src="{{user.profile_image_thumb}}">
                        </div>
                        <div class="userInfo">
                            <div class="name">{{user.first_name + ' ' + user.name }}</div>
                            <div *ngIf="user.city || user.country" class="location">{{user.city ? user.city : ' '}}, {{user.country ? user.country : ' '}}</div>
                        </div>
                        <div class="followsBack">
                            <button (click)="checkIfFollowBack(user) ? unfollow(user, $event) : follow(user, $event)" [attr.data-hover]="checkIfFollowBack(user) ? 'Unfollow' : 'Remove'" [class]="checkIfFollowBack(user) ? 'following' : 'follow'" *ngIf="isUser"><span>{{checkIfFollowBack(user) ? 'Following' : 'Follow'}}</span> </button>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    </div>
</div>