@import "../color";
#container{
  margin:0 auto;
  height:100%;
}
#navigation{
  position: fixed;
  background:rgba($headercolor, 0.5);
  width:100%;
  text-align: center;
  ul{
    li{

      display:inline-block;
      line-height:53px;
      font-size:14px;
      a{
        padding:0px 12px;
        display:inline-block;
        color:#fff;
        &.current, &:hover{
          border-bottom:1px solid $secondairy;
        }
        &:hover{
          background-color: rgba($headercolor, 0.7);
        }
        &#logo{
          & #logoimg{
            vertical-align: top;
            height:32px;
            padding:11px;
          }
          &:hover{

            border-bottom:none;
          }
        }
      }
      .profilepic{
        margin-right:8px;
        vertical-align: middle;
        width:32px;
        border-radius: 50%;
      }


    }
  }
}
#banner{
  background-image: url(../../assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
height:100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .self-align-center{
    text-align: center;
    #intro{
      font-size:1.5rem;
      color:#fff;
      text-align: center;
      p{
        max-width:600px;
      padding:25px;
      }
    }
  }
  h1{
    font-size:10rem;
    font-weight: 900;
    text-align: center;
    color:#fff;
    line-height: 8rem;
    -webkit-mask-image: -webkit-gradient(linear, left 40%, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
  }
  .calltoaction{
    padding:5px 15px;
    background:0;
    color:#fff;
    display:inline-block;
    margin-left:15px;
    &:hover{
      background: $secondairy;
    }
  }
}
#content{
  height:100%;
  #info{
    height:100%;
  }
  .leftsplit{
    width:50%;
    height:100%;
    background-image: url(../../assets/images/mapscreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media only screen and (max-width:768px){
#banner{
  h1{
    font-size:5rem;
  }
  .self-align-center {
    #intro {
      font-size: 1rem;
    }
  }
}
}