@import "../color";
.modalContainer{
  .modal {
  .modalContent{
    .contentContainer{
      .card {
        .input {
          margin-bottom: 10px;
        }
        .uploadProfile{
          display:block;
          width:92px;
          margin:0 auto;
          margin-bottom:10px;
        }
      }
    }
    }
  }
}
