<div class="modalContainer {{show}}">
  <div class="modal">
    <div class="modalHeader">
      <div (click)="closeModal()" class="close">
        <span class="lnr lnr-cross-circle"></span>
      </div>
      <h3>{{title}}</h3>
    </div>
    <div class="modalContent">
      <div class="contentContainer">
        <div class="card-listContainer">
        <ul class="card-list">
          <li class="card-list-item" *ngIf="users?.length == 0">
            <div class="user centerContent">
              {{title == 'Followers' ? 'You have no followers' : 'You are currently following nobody'}}
            </div>
          </li>
          <li *ngFor="let user of users" class="card-list-item">
            <a (click)="redirect(user)" >
              <div class="user centerContent">
                <div class="profileImg">
                  <img _ngcontent-c2="" alt="profilepicture" class="profilepic" src="{{user.profile_image_thumb}}">
                </div>
                <div class="userInfo">
                  <div class="name">{{user.first_name + ' ' + user.last_name }}</div>
                  <div *ngIf="user.city || user.country" class="location">{{user.city ? user.city : ' '}}, {{user.country ? user.country : ' '}}</div>
                </div>
                <div class="followsBack">
                  <button (click)="checkIfFollowBack(user) ? follow(user, $event) : unfollow(user, $event)" [attr.data-hover]="checkIfFollowBack(user) ? 'Unfollow' : 'Remove'" [class]="checkIfFollowBack(user) ? 'following' : 'follow'" *ngIf="isUser"><span>{{checkIfFollowBack(user) ? 'Following' : 'Follow'}}</span> </button>
                </div>
              </div>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="modalBg {{show}}"></a>