<div class="modalContainer {{show}}">
  <div class="modal">
    <div class="modalHeader">
      <div (click)="closeModal()" class="close">
        <span class="lnr lnr-cross-circle"></span>
      </div>
      <h3>{{title}}</h3>
    </div>
    <div class="modalContent">
      <div class="contentContainer">
        <div class="card-listContainer">
        <ul class="card-list">
          <li *ngFor="let user of users" class="card-list-item">
            <a [routerLink]="['/' + user.id + '/trips']" >
              <div class="user centerContent">
                <div class="profileImg">
                  <img _ngcontent-c2="" alt="profilepicture" class="profilepic" src="{{user.profile_image_thumb}}">
                </div>
                <div class="userInfo">
                  <div class="name">{{user.first_name + ' ' + user.last_name }}</div>
                  <div *ngIf="user.city || user.country" class="location">{{user.city ? user.city : ' '}}, {{user.country ? user.country : ' '}}</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="modalBg {{show}}"></a>