@import "../color";
.form-wrap {
  background-color: #fff;
  width: 90%;
  max-width:500px;
  min-width: 300px;
  min-height:250px;
  margin: 3em auto;
  border-radius:4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .seperator{

    margin-top:5px;
    margin-bottom:15px;
    &:before{
      display: block;
      content: '';
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      height: 1px;
      margin-top:4px;
      border-top: 1px solid $contentbg;
    }
    &:after{
      display: block;
      content: '';
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      height: 1px;
      margin-top:4px;
      border-top: 1px solid $contentbg;
    }
    .seperator-inner{
      margin:0 10px;
      color: #9198a1;
      font-size: 12px;
    }
  }
  .tabs {
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    h3 {
      float: left;
      width: 50%;
      a {
        padding: 15px 0;
        text-align: center;
        background-color: #ccc;
        display: block;
        font-size:16px;
        color: $headercolor;
        &.active {
          background-color: #fff;
        }
      }
    }
  }
  .tabs-content {
    padding: 25px;
    div[id$="tab-content"] {
      display: none;
    }
    .active {
      display: block !important;
    }
  }
  .button {
    width: 100%;
    padding:15px;
    border-radius:4px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: $secondairy;
    border: none;
    color: #fff;
    cursor: pointer;
    &.facebook{
      background-color: $facebook;
      &:hover{
        background-color:lighten($facebook, 5%) ;
      }
    }
    &:hover {
      background-color:lighten($secondairy, 5%) ;
    }
  }
  .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em;
    &:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
  label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px;
    }
    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid $secondairy;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .help-text {
    margin-top: .6em;
    a{
      color:$red;
    }
    p {
      text-align: center;

    }
  }
  #profileImageWrap{
    display:flex;
    #profileImage{
      margin-right:10px;
    }
    #registerfullname{
      width:100%;
    }
  }
}
