/* File Uploader Styles  */
@import "../color";
.uploader input {
  display: none;
}

.uploader {
  background-color: #ccc;
  cursor: pointer;
  border:2px solid #ccc;
  display: block;
  position: relative;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #fff;
  font-size: 2.5em;
  left: 50%;
  top: 50%;
  z-index:0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.uploader img {
  z-index:1;
  position: relative;
  opacity: 0;
  object-fit: cover;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;

}
img[class] {
  width: 100%;
}
.uploader img.loaded {
  opacity: 1;
}