<app-header></app-header>
<app-mapbox-map></app-mapbox-map>
<div *ngIf="user" class="sidepanel">
    <section class="group user-profile">
        <div class="hero-trip">
            <div class="hero-bg"
                 [ngStyle]="{'background-image': 'url(' + user.profile_image_cover + ')'}">
            </div>
            <div class="overlay">
                <div id="user">
                    <img class="profilepic"
                         src="{{user.profile_image}}"
                         alt="profilepicture" class="profilepic">
                    <span>{{user.first_name}} {{user.last_name}}</span>
                    <span class="grey">{{user.country}}, {{user.city}}</span>
                </div>
                <div *ngIf="isUser" class="followers">
                    <button><span>20</span>Followers</button>
                    <button><span>10</span>Following</button>
                </div>
                <div *ngIf="!isUser" class="followers">
                    <button>Follow</button>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="isUser"  class="add-trip">
        <button (click)="showModal('new')"><span class="lnr lnr-plus-circle"></span>Add Trip</button>
    </section>
    <section class="trips">
        <div *ngFor="let trip of trips">
        <div class="card" *ngIf="isUser || trip.privacy == 'public'">

            <div (click)="routing(trip)" class="trip-name">
                <div class="content">
                    <div class="name">{{trip.name}}</div>
                    <div class="date">{{trip.start_date| date: 'dd/MM/yyyy'}}</div>
                </div>

                <span class="lnr lnr-chevron-right-circle"></span>
            </div>
            <div class="trip-bg" [ngStyle]="{'background-image': 'url(' + trip.cover_photo_path + ')'}">
            </div>
        </div>
        </div>
    </section>
</div>

<app-add-trip *ngIf="show == 'show'" [show]="show" (deletedTrip)="onTripDeleted($event)" (newTrip)="onTripAdded($event)" (closed)="onClosed()" ></app-add-trip>
