
<div id="{{stop.id}}" class="card">
    <div class="swiper-container">
        <div class="swiper-wrapper">
        <div *ngFor="let media of stop.media.data" class="swiper-slide">
                <img class="poster" src="{{ media.image }}" alt="">
        </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <h2>{{stop.arrival_time | date:'fullDate'}}</h2>
    <h1>{{stop.name}}</h1>
    <p>{{stop.description}}</p>
    <div class="likeinfo">
        <span *ngIf="stop.like_count == 0">No likes yet, be the first!</span>
       <span *ngIf="stop.like_count > 0" ><a  href="#">{{isLiked()}}</a><span>and 3 others like this</span></span>
    </div>
    <div class="stopactions group">
        <div class="like">
            <button><span class="lnr lnr-heart btnicon"></span></button>
        </div>
        <div class="actions">
            <button (click)="stopedit(stop)"><span class="lnr lnr-pencil btnicon"></span>Edit</button>
        </div>
    </div>

</div>