$headercolor : #2C3E50;
$focuscolor: #BDC3C7;
$secondairy: #16A085;
$placeholder : #7F8C8D;
$contentbg: #ECF0F1;
$red: #E91E63;
$facebook:#4267B2;
button, .calltoaction{
  border: 1px solid #ccc;
  border-radius: 4px;
  color:$headercolor;
  font-weight:400;
  padding:0px 12px;
  background: #fff;
  cursor:pointer;
  line-height:28px;
  span{
    font-size:13px;
    font-weight:600;
    margin-right: 8px;
    color:$secondairy;
  }
}
.actions{
  float:right;
  button{
    &:hover{
      background:$secondairy;
      color:#fff;
      border:1px solid $secondairy;
      span{
        color:#fff;
      }
    }

  }
}
.like{
  float:left;
  span{
    color:$red;
  }
  button{
    &:hover{
      border:1px solid $red;
      color:$red;
    }
    &.liked{
      background:$red;
      color:#fff;
      border:1px solid $red;
      span{
        color:#fff;
      }

    }
  }
}
.likeinfo{
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin:7px;
  margin-top:15px;
  padding:5px;
  font-size:12px;
  a{
    color:$headercolor;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
  }
}
.sidepanel{
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width:240px;
  max-width:500px;
  z-index: 800;
  overflow-x: hidden;
  overflow-y:auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background:$contentbg;
  color: $headercolor;
  .hero-trip{
    height:240px;
    position:relative;
    background-color: #ccc;
    .hero-bg{
      background-size:cover;
      position:absolute;
      background-position: center center;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:1;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .overlay{
      background-color:rgba(0,0,0,0.3);
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:2;
    }
  }
  .add-trip{
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
    button{
      background:none;
      &:hover{
        border:1px solid $red;
        color:$red;
        span{
          color:$red;
        }
      }
    }
  }
}
.card{
  margin:10px;
  border-radius: 4px;
  padding:10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .6s ease;
  background: #fff;
  position:relative;
}
.input, .select{
  background:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid #ccc;
  outline: 0;
  display: inline-block;
  margin: 0 0 10px 0;
  padding-right: 2em;
  width: 100%;
  border-radius: 4px;
  &:focus{
    border:1px solid $secondairy;
  }
  &.error{
    border:1px solid $red;
    color:$red;
    &::-webkit-input-placeholder{
      color:$red;
    }
  }
}
.textarea{
  height:150px;
}
a{
  cursor:pointer;
}
.help-block{
  color:$red;

  margin-bottom:15px;
}

.modalContainer{

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  z-index: 900;
  pointer-events: none;
  opacity: 0;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  .modal{
    position: relative;
    width: 320px;
    pointer-events: auto;

  }
  .modalHeader{
    .close{
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      padding: 8px;
      cursor: pointer;
      font-size:20px;
      color:#fff;
    }
    h3 {
      position: relative;
      z-index: 2;
      background: $headercolor;
      padding: 16px;
      line-height: 32px;
      font-size: 22px;
      font-weight:600;
      color: #fff;
      text-align: center;
      border-radius: 4px 4px 0 0;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    }
  }
  .modalContent{
    max-height: 100vh;
    max-height: calc(90vh - 10px);
    background: #fff;
    position: relative;
    overflow: auto;
    background: $contentbg;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    .contentContainer{
      .card{
        padding:15px;
        h4{
          font-weight: 700;
          padding-bottom: 12px;
          margin-bottom: 15px;
          font-size: 16px;
          border-bottom: 1px solid $contentbg;
          color: $headercolor;
        }
        .input{
          margin-bottom:0;
        }
      }
      .button{
        padding:6px;
        border-radius:4px;
      margin-right:10px;
        margin-bottom:10px;
        background-color: $secondairy;
        border:1px solid $secondairy;
        color: #fff;
        cursor: pointer;
        &:hover{
          background:none;
          color:$secondairy
        }
        &.cancel{
          border:1px solid $red;
          background:$red;
          &:hover{
            background:none;
            color:$red;
          }
        }
        &.delete{
          background:none;
          margin-bottom: 0px;
          line-height: 1;
          vertical-align: top;
          border:1px solid $placeholder;
          & .lnr{
            margin-right: 0;
            font-size:26px;
            font-weight: 400;
            color:$placeholder;

          }
          &:hover{
            background:$red;
            border:1px solid $red;
            & .lnr{
              color:#fff;
            }
          }
        }
      }
    }
  }

}
.modalBg{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 899;
  background: rgba(26,36,48,.85);
  opacity:0;
}
.inputIcon{
  position: relative;
  margin-bottom: 10px;
  .input{

    &:focus + .lnr{
      border-left:1px solid $secondairy;
      background:$secondairy;
      color:#fff;
    }
    &:focus + .ngxmdp + .lnr{
      border-left:1px solid $secondairy;
      background:$secondairy;
      color:#fff;
    }
  }
  .lnr{
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    border:1px solid #ccc;
    cursor:pointer;
    background:#fff;
    z-index: 1;
    color: $secondairy;
    font-size: 20px;
  }
}
.optionSelector{
  border: 1px solid #ccc;
  padding:10px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 10px;
  .optionIcon{
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid $placeholder;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 2px;
      left: 2px;
      border-radius: 50%;
    }
    &.selected{
      &:before{
        background: $red;
      }
    }
  }
  .optionContent{
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    .optionTitle{
      line-height: 20px;
      vertical-align: middle;
      color:$headercolor;
      font-weight:600;
    }
    .optionText{
      color: $placeholder;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
.centerContent{
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.show{
  opacity: 1;
}
.dateTime{
  display:flex;
  .inputIcon:first-child{
    width:250px;
    margin-right:5px;
}
  .inputIcon span{
    background:#fff;
  }

}
.card-listContainer{

  .card-list{
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .6s ease;
    background: #fff;
    position: relative;
    .card-list-item{
      display: block;
      padding: 24px;
      background:#fff;
      border-bottom: 1px solid #ccc;
      &:hover{
        background:darken(#fff, 4%);
      }
      & > a {

      }
      &:last-child{
        border-bottom: none;
      }
      .user{

        .profilepic{
          margin-right:12px;
          vertical-align: middle;
          width:40px;
          border-radius: 50%;
        }
        .userInfo{
          flex:1;
          .name{
            color:$headercolor;
            font-weight: 700;
            font-size: 16px;
          }
          .location{
            color: $placeholder;
            font-size:12px;
          }
        }
        .followsBack{
          button{
            position: relative;
            overflow:hidden;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            color:#fff;
            span{
              margin:0;
              font-weight:400;
            }
            &:before, &:after{
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              width: 100%;
              text-align: center;
              -webkit-transition: 0.2s;
              -moz-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
            }
            &:before{
              content: attr(data-hover);
              -webkit-transform: translate(-100%,0);
              -moz-transform: translate(-100%,0);
              -ms-transform: translate(-100%,0);
              -o-transform: translate(-100%,0);
              transform: translate(-100%,0);

            }
          }
          button.following{
            background:$secondairy;
            border:1px solid $secondairy;
            span{
              color:#fff;
            }
            &:hover{
              background: $red;
              border:1px solid $red;
              &:before{
                opacity: 1;
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                -ms-transform: translate(0,0);
                -o-transform: translate(0,0);
                transform: translate(0,0);
              }
              & span{
                opacity: 0;
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                -ms-transform: scale(0.3);
                -o-transform: scale(0.3);
                transform: scale(0.3);
              }
            }
          }
          button.follow{
            background: $red;
            border:1px solid $red;
            span{
              color:#fff;
            }
            &:hover{
              background:$secondairy;
              border:1px solid $secondairy;
            }
          }
        }
      }
    }
  }
}
//calendar style{
