<div class="modalContainer {{show}}">
  <div class="modal">
    <div class="modalHeader">
      <div (click)="closeModal()" class="close">
        <span class="lnr lnr-cross-circle"></span>
      </div>
      <h3>{{title}}</h3>
    </div>
    <div class="modalContent">
      <div class="contentContainer">
        <div class="imagewrap">
          <div class="currentImage card">
            <img (click)="nextImage()" class="poster" src="{{ selectedMedia.image }}" alt="">
          </div>


          <div class="card">
            <h4>Comments</h4>
            <div class="card-listContainer">
              <ul class="card-list commentinput">
                <li class="card-list-item">
                  <textarea   name="comment" class="input" id="comment" placeholder="Write comment" ></textarea>
                </li>
              </ul>
              <ul class="card-list">
                <li class="card-list-item">
                  <a (click)="redirect(user)" >
                    <div class="user centerContent">
                      <div class="profileImg">
                        <img alt="profilepicture" class="profilepic" src="assets/images/default_profile_image.jpg">
                      </div>
                      <div class="userInfo">
                        <div class="name">Nick Verstocken</div>
                      </div>
                    </div>
                  </a>
                  <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus convallis pharetra. Nullam vitae finibus purus. In nec sapien pellentesque, maximus sem in, lacinia lorem. Vestibulum pulvinar efficitur mi, ac scelerisque tortor cursus sed. Suspendisse at mauris id dui porta cursus. Suspendisse potenti. Duis maximus quam ac nisl tristique scelerisque. Ut vel nulla vel felis finibus mollis. Fusce tincidunt volutpat nulla in lobortis. In non mattis sapien.</p>
                  </div>
                </li>
                <li class="card-list-item">
                  <a (click)="redirect(user)" >
                    <div class="user centerContent">
                      <div class="profileImg">
                        <img _ngcontent-c2="" alt="profilepicture" class="profilepic" src="assets/images/default_profile_image.jpg">
                      </div>
                      <div class="userInfo">
                        <div class="name">Nick Verstocken</div>
                      </div>
                    </div>
                  </a>
                  <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus convallis pharetra. Nullam vitae finibus purus. In nec sapien pellentesque, maximus sem in, lacinia lorem. Vestibulum pulvinar efficitur mi, ac scelerisque tortor cursus sed. Suspendisse at mauris id dui porta cursus. Suspendisse potenti. Duis maximus quam ac nisl tristique scelerisque. Ut vel nulla vel felis finibus mollis. Fusce tincidunt volutpat nulla in lobortis. In non mattis sapien.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus convallis pharetra. Nullam vitae finibus purus. In nec sapien pellentesque, maximus sem in, lacinia lorem. Vestibulum pulvinar efficitur mi, ac scelerisque tortor cursus sed. Suspendisse at mauris id dui porta cursus. Suspendisse potenti. Duis maximus quam ac nisl tristique scelerisque. Ut vel nulla vel felis finibus mollis. Fusce tincidunt volutpat nulla in lobortis. In non mattis sapien.</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a (click)="closeModal()" class="modalBg {{show}}"></a>