@font-face {
    font-family: Linearicons-Free;
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot);
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot?#iefix) format('embedded-opentype'), url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff2) format('woff2'), url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.ttf) format('truetype'), url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff) format('woff'), url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.svg#Linearicons-Free) format('svg');
    font-weight: 400;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    font-size: 14px;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    height: 100%;
    background: #fff;
}

body {
    background: #ECF0F1;
    position: relative;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

body::after {
    background: url(assets/images/bg.svg);
    content: "";
    opacity: 0.9;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    opacity: 0.1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(2px);
    filter: blur(5px);
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 56px;
    left: 500px;
    cursor: move;
    overflow: hidden;
}

input {
    font-family: 'Lato', sans-serif;
}

input:focus, button {
    outline: none;
}

.mapboxgl-canvas {
    cursor: move;
}

a {
    text-decoration: none;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.marker {
    border: 2px solid #fff;
    box-shadow: 3px 3px 10px #888;
    border-radius: 50%;
}
.marker:after{
    opacity: 1;
    content:attr(data-imgTotal);
    position: absolute;
   padding:4px;
    line-height:6px;
    background:#2C3E50;
    border:2px solid #fff;
    color:#fff;
    font-size:9px;
    border-radius: 8px;
    top:-4px;
    left:22px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.mapboxgl-popup{
    font-family: 'Lato', sans-serif;
}
.marker.no-image:after{
    opacity: 0;
}
.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-bottom-right, .mapboxgl-popup-anchor-bottom-left{
    top:-17px;

}
.mapboxgl-popup-anchor-left{
    left:15px;
}
.mapboxgl-popup-anchor-right{
    left:-17px;
}
.mapboxgl-popup-anchor-top, .mapboxgl-popup-anchor-top-right, .mapboxgl-popup-anchor-top-left {
    top:17px;
}
.mapboxgl-popup-content .images img{
    width:200px;
    background-color: #ccc;
}
.mapboxgl-popup-content .images{
    border:1px solid #ccc;
    height:200px;
}
.mapboxgl-popup-content .images img[class] {
    width: 200px;
}
.mapboxgl-popup-content .images img.poster {
    object-fit: cover;
    width:200px;
    height:200px;
}
.mapboxgl-popup-content .mapboxgl-popup-close-button{
    display:none;
}
.mapboxgl-popup-content .title h1{
    font-size: 15px;
    color: #E91E63;
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 0px;
    position: relative;
}
.mapboxgl-popup-content .title h2{
    font-weight:300;
    line-height: 10px;
}
.mapboxgl-popup-content .arrival-time{
    font-size: 10px;
    color: #7F8C8D;
    line-height: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 7px;

}
.mapboxgl-popup-content .content-wrap{
    max-width:200px;
}
.mapboxgl-popup-content{
    cursor:auto;
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 5px;
    background: #888;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
}

/*calendar style */
.ngxmdp * {
    font-family: 'Lato', sans-serif !important;
}

.ngxmdp .selector {
    width: 100% !important;
    height: auto !important;
    top: 50px !important;
    left: 0px;
    border: none !important;
}

.ngxmdp .selectorarrowleft:after, .ngxmdp .selectorarrowleft:before {
    left: auto !important;
    right: 10px !important;

}

.ngxmdp .selectorarrow:before {
    border-width: 0px !important;
}

.ngxmdp .selectorarrow, .ngxmdp .monthcell {
    background: #2C3E50 !important;
}

.ngxmdp .header, .monthtable, .yeartable {
    width: calc(100% - 20px) !important;
    margin:0 auto !important;
    margin-top:10px !important;
    background-color: #2C3E50 !important;
}
.yeartable{
    margin-bottom: 10px !important;
}
.monthtable{
    margin-bottom:10px !important;
}
.ngxmdp .header tbody tr td {

}

.ngxmdp .header .headerlabelbtn, .ngxmdp .headerbtn, .ngxmdp .headerbtncell {
    color: #fff !important;
    background: none !important;
}
.ngxmdp .headerbtncell {
     vertical-align: top !important;
}
.ngxmdp .selectorarrow:after {
    border-bottom-color: #2C3E50 !important;
}

.ngxmdp .icon-ngxmydpdown, .ngxmdp .icon-ngxmydpleft, .ngxmdp .icon-ngxmydpright, .ngxmdp .icon-ngxmydpup {
    color: #fff !important;
    font-size: 20px;
}

.ngxmdp .weekdaytitle {
    background: none !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    padding: 7px 5px !important;
    max-width: 36px;
}

.ngxmdp .caltable, .ngxmdp .daycell, .ngxmdp .monthcell, .ngxmdp .monthtable, .ngxmdp .weekdaytitle, .ngxmdp .yearcell, .ngxmdp .yeartable {
    border-collapse: collapse;
    color: #9198A1 !important;
    line-height: 1.1;
}
.ngxmdp .caltable span{
    background:none !important;
}
.ngxmdp .daycell, .ngxmdp .yearcell, .ngxmdp .yearchangebtncell, .ngxmdp .headerbtn, .ngxmdp .headerlabelbtn, .ngxmdp .yearchangebtn{
    background:none !important;
    color:#fff !important;
}
.ngxmdp .daycell, .ngxmdp .monthcell, .ngxmdp .weekdaytitle, .ngxmdp .yearcell {
    width: 32px !important;
    height: 35px !important;
    border-radius:2px;
    text-align: center;
    font-size:12px !important;
}

.ngxmdp .icon-ngxmydpright:before {
    font-size: 12px;
    font-family: Linearicons-Free;
    content: '\e876' !important;
}

.ngxmdp .icon-ngxmydpleft:before {
    font-size: 12px;
    font-family: Linearicons-Free;
    content: '\e875' !important;
}
.ngxmdp .icon-ngxmydpup:before{
    font-size: 12px;
    font-family: Linearicons-Free;
    content: '\e873' !important;
}
.ngxmdp .icon-ngxmydpdown:before{
    font-size: 12px;
    font-family: Linearicons-Free;
    content: '\e874' !important;
}
.ngxmdp .headermonthtxt, .ngxmdp .headeryeartxt {
    padding: 0px 15px;
     max-width: inherit !important;
}
.ngxmdp .caltable{
    margin-left:3px;
    margin-right:3px;
   margin-bottom:12px;
}
.ngxmdp .caltable, .ngxmdp .monthtable, .ngxmdp .yeartable {
    background: none !important;
    font-size: 14px;
}

.ngxmdp .currmonth {
    background:none !important;
}

.ngxmdp .daycell .datevalue {
    background-color: inherit;
    font-weight: 400 !important;
    vertical-align: middle;
}
.ngxmdp .daycell:hover,.selectedyear .yearvalue, .monthcell.selectedmonth .monthvalue, .monthcell.selectedmonth , .ngxmdp .monthcell:hover, .monthcell:hover .markcurrmonth, .ngxmdp .yearcell:hover, .daycell.selectedday, .daycell:hover .prevmonth,.daycell:hover .nextmonth, .daycell:hover .markcurrday, .yearcell.selectedyear {
    background-color: #16A085 !important;
    opacity: 1;
    color:#fff !important;
}
.markcurrday, .markcurrmonth, .markcurryear{
    color:#16A085;
    background:none !important;
    text-decoration: none !important;
}
.highlight{
    color:#fff !important;
}
.datevalue.prevmonth, .datevalue.nextmonth{
    opacity: 0.3;
}
.ngxmdp .caltable{
    width: calc(100% - 20px) !important;
    margin:0 auto;
    margin-bottom:10px;
    height: calc(100% - 30px);
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
}
.leaflet-top{
    z-index: 500 !important;
}
.dateTime .ngxmdp .selector {
    width: 180% !important;
}
.dateTime .ngxmdp .selectorarrowleft:after, .ngxmdp .selectorarrowleft:before {
    right:auto;
    left: 130px !important;
}

.loadingwrap{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    z-index: 998;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    background: rgba(26,36,48,.6);
}
.busy{
    pointer-events: none;
}
.loadingwrap + *, .loadingwrap *, .loadingwrap + * + *{
    pointer-events: none;
}
.loadingwrapinner{
    position: relative;
}
.loadingInner{
    position: relative;
    width: 100%;
    height: 70px;
}
.loadingtext{
    color:#fff;
    font-weight: 700;
    position: relative;
}
.loading,
.loading::before,
.loading::after {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.loading {
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    -moz-animation: animation-rotate 1000ms linear infinite;
    -o-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
    content: "";
    margin: -23px 0 0 -23px;
    height: 44px;
    width: 44px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    -moz-animation: animation-rotate 1000ms linear infinite;
    -o-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
    content: "";
    margin: -29px 0 0 -29px;
    height: 56px;
    width: 56px;
    -webkit-animation: animation-rotate 2000ms linear infinite;
    -moz-animation: animation-rotate 2000ms linear infinite;
    -o-animation: animation-rotate 2000ms linear infinite;
    animation: animation-rotate 2000ms linear infinite;
}
@-webkit-keyframes animation-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes animation-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes animation-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes animation-rotate {
    100% {
        transform: rotate(360deg);
    }
}