<app-header></app-header>
<div id="test">
<div id="sidepanel" *ngIf="trip && trip?.privacy == 'public' || isUser || (trip?.privacy == 'followers' && isFollower)" class="sidepanel">

  <section class="group user-profile">
    <div id="user">
     <a routerLink="/{{trip.user.id}}/trips" href="#"> <img class="profilepic" src="{{trip.user.profile_image_thumb}}"
           alt="profilepicture" class="profilepic">
      <span>{{trip.user.first_name + ' ' + trip.user.name}}</span></a>
    </div>
    <div class="actions">
      <button (click)="testfn()"><span class="lnr lnr-users btnicon"></span>Share</button>
      <button *ngIf="isUser" (click)="showTripModal()"><span class="lnr lnr-cog btnicon"></span>Trip settings</button>
    </div>
  </section>
  <div id="contentsection"   class="sidepanel-content">

  <section class="hero-trip" >
    <div class="hero-bg" [ngStyle]="{'background-image': 'url(' + trip.cover_photo_path + ')'}"></div>
    <div class="overlay">
      <h2 class="trip-title">{{trip.name}}</h2>
      <div class="hero-date"><span>{{trip.start_date | date: 'dd/MM/yyyy'}}</span></div>
    </div>
  </section>
  <section class="trip-info">
    <ul>
      <li><span class="lnr lnr-heart"></span><span> <span class="numberhigh">{{trip.likes}}</span> <span class="smallgrey">likes</span> </span></li>
      <li><span class="lnr lnr-earth"></span><span><span class="numberhigh">{{trip.total_km}}</span> <span class="smallgrey">kilometers</span></span></li>
      <li><span class="lnr lnr-map-marker"></span><span><span class="numberhigh">{{trip.stops.data.length}}</span> <span class="smallgrey">stops</span></span></li>
    </ul>
  </section>
    <section *ngIf="isUser" class="add-trip">
      <button (click)="addStop()"><span class="lnr lnr-plus-circle"></span>Add Step</button>
    </section>
  <section class="trip-stops">
    <div in-viewport
         [inViewportOptions]="{ rootElement: contentsection, partial: false }"
         (inViewportAction)="action($event)" *ngFor="let stop of stops" id="{{stop.id}}" #{{stop.id}}>
      <app-tripcard [isUser]="isUser" (showImagesModal)="showImagesModal($event)" [currentUser]="currentUser" (editStop)="editStop($event)" id="{{stop.id}}" [stop]="stop"></app-tripcard>
    </div>
  </section>
  </div>
  <app-add-stop (imageDeleted)="onImageDeleted($event)" (editedStop)="onStopEdited($event)" (deletedStop)="onStopDeleted($event)" (imagesAdded)="onImagesAdded($event)" [stop]="selectedStop ? selectedStop : {}" (flyToAndMoveMarker)="moveMarker($event)" (flyToAndAddMarker)="addTempMarker($event)" [tripId]="trip.id" (deleteTempMarker)="deleteTempMarker($event)" (newStop)="onStopAdded($event)" *ngIf="showStopEdit == 'show'" [show]="showStopEdit" (closed)="onStopModalClosed($event)"></app-add-stop>
</div>
</div>
<app-mapbox-map (mapLoaded)="onMapLoaded($event)" #map *ngIf="stops" [stops]="stops" (stopclicked)="onMapStopClick($event)" (popupclicked)="openImagesModal($event)"></app-mapbox-map>
<app-add-trip *ngIf="showTripEdit == 'show'" [trip]="trip" (editedTrip)="onTripEdited($event)" (deletedTrip)="onTripDeleted($event)" [show]="showTripEdit" (newTrip)="onTripAdded($event)" (closed)="onTripModalClosed($event)" ></app-add-trip>
<app-images-modal [currentUser]="currentUser" [isUser]="isUser" *ngIf="showImages" [show]="showImages" (closed)="closeImagesModal()" [selectedMedia]="selectedMedia" [allMedia]="allselectedMedia" [title]="mediaTitle" ></app-images-modal>